<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [formGroup]="serviceFeeForm" class="service-fee-dialog p-10">
  <div class="w-100" fxLayout="row wrap">
    <!-- Service Type -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Service Type:</mat-label>
        <input matInput type="text" formControlName="serviceType" aria-label="Status type input field.">
        <mat-hint>
          Service type for the fee.
        </mat-hint>
        <mat-error *ngIf="form.serviceType.errors?.required">
          Status Type is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Cost -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Cost:</mat-label>
        <input *ngIf="!dropdowns" matInput type="number" min="0" formControlName="cost" required aria-label="Cost input field.">
        <mat-select *ngIf="dropdowns" matNativeControl  required (selectionChange)="selectChange($event, 'cost')"
          aria-label="Cost dropdown field" formControlName="cost">
          <mat-option *ngFor="let cost of costDropdown" [value]="cost">
            {{cost}}
          </mat-option>
        </mat-select>
        <span matPrefix class="custom-prefix">$</span>
        <mat-hint>
          Cost of the fee.
        </mat-hint>
        <mat-error *ngIf="form.cost.errors?.required">
          Cost is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Unit Measure -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Unit Measure:</mat-label>
        <input *ngIf="!dropdowns" matInput type="text" formControlName="unitMeasure" required aria-label="Unit measure input field.">
        <mat-select *ngIf="dropdowns" matNativeControl  required (selectionChange)="selectChange($event, 'unitMeasure')"
          aria-label="Unit Measure dropdown field" formControlName="unitMeasure">
          <mat-option *ngFor="let unitMeasure of unitMeasureDropdown" [value]="unitMeasure">
            {{unitMeasure}}
          </mat-option>
        </mat-select>
        <span matPrefix class="custom-prefix">Per</span>
        <mat-hint>
          Unit measure of the service.
        </mat-hint>
        <mat-error *ngIf="form.unitMeasure.errors?.required">
          Unit measure is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Quantity -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Quantity:</mat-label>
        <input matInput type="number" min="0" formControlName="quantity" aria-label="Quantity input field.">
        <mat-hint>
          Quantity of the service.
        </mat-hint>
        <mat-error *ngIf="form.quantity.errors?.required">
          Quantity is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Total -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Total:</mat-label>
        <input matInput type="text" formControlName="total" aria-label="Total input field.">
        <span matPrefix class="custom-prefix">$</span>
        <mat-hint>
          Total fee amount.
        </mat-hint>
        <mat-error *ngIf="form.total.errors?.required">
          Total is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="close()">Close</button>
  <button mat-stroked-button color="primary" (click)="saveFee()"
    [disabled]="invalidStatus()">{{data.saveLabel}}</button>
</div>