.mat-dialog-actions {
    justify-content: flex-end;
}
.p-10{
    padding:10px;
}
.custom-prefix{
    padding-right: 7px;
    // border-right: 1px solid #e1e1e1;
    // // border-width: 1px 1px 0.95px 0;
    margin-right: 7px;
    font-weight: 700;
    // padding-top: 6.5px;
    // padding-bottom: 8.5px;    
}
// .mat-form-field-appearance-outline:hover .custom-prefix{
//     border-color: #000000;
//     border-width: 0 2px 0 0;
// }
