<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [formGroup]="serviceFeeForm" class="p-10">
  <div class="w-100" fxLayout="row wrap">
    <!-- Service Type -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <label>Service Type:</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput type="text" formControlName="serviceType" aria-label="Status type input field.">
        <mat-hint>
          Service type for the fee.
        </mat-hint>
        <mat-error *ngIf="form.serviceType.errors?.required">
          Status Type is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Cost -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <label>Cost:</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput type="text" formControlName="cost" aria-label="Cost input field.">
        <mat-hint>
          Cost of the fee.
        </mat-hint>
        <mat-error *ngIf="form.cost.errors?.required">
          Cost is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Unit Measure -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <label>Unit Measure:</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput type="text" formControlName="unitMeasure" aria-label="Unity measure input field.">
        <mat-hint>
          Unit measure of the service.
        </mat-hint>
        <mat-error *ngIf="form.unitMeasure.errors?.required">
          Unit measure is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Quantity -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <label>Quantity:</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput type="text" formControlName="quantity" aria-label="Quantity input field.">
        <mat-hint>
          Quantity of the service.
        </mat-hint>
        <mat-error *ngIf="form.quantity.errors?.required">
          Quantity is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Total -->
    <div class="side-padding" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="50" fxFlex.xs="100">
      <label>Total:</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput type="text" formControlName="total" aria-label="Total input field.">
        <mat-hint>
          Total fee amount.
        </mat-hint>
        <mat-error *ngIf="form.total.errors?.required">
          Total is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="close()">Close</button>
  <button mat-stroked-button color="primary"  (click)="saveFee()" [disabled]="invalidStatus()">{{data.saveLabel}}</button>
</div>