// Service Fee Table
.service-fee-table {
.table-container {
    overflow: auto;
    table {
      width: 100%;
      min-width: 500px;
      overflow: scroll;
        .mat-row:nth-child(even){
          background-color:#ffffff;
          }  
        .mat-row:nth-child(odd){
          background-color:#f9f9f9;
          }
          .mat-header-cell{
            font-size: 1.2em;
          }
          td, th {
            padding: 0 10px;
              border-right:1px solid rgba(0,0,0,.12);
          }
          .mat-cell:last-of-type, .mat-header-cell:last-of-type{
            border-right: none;
            width: 10px;
            text-align: center;
          }
          .mat-cell:first-of-type, .mat-header-cell:first-of-type{
            width: 10px;
          }
    }
  }
}
.comment-table{
  td, th {
    padding: 0 5px !important;
    }
    tr.mat-footer-row {
      height: 10px !important;
      overflow: auto;
  }
  .mat-column-Comment {
    vertical-align: top;
  }
}
// Edit button
.edit-button {
  background-color: #ffffff;
  border: 1px solid #274d8a;
  color:#274d8a;
  transition: all 0.5s;
  &:hover{
    border-color: #ffffff;
    color:#ffffff;
    background-color: #274d8a;
  }
}

